<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sangcomz.fishbun">

    <application>
        <provider
            android:name="com.sangcomz.fishbun.FishBunFileProvider"
            android:authorities="${applicationId}.fishbunfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.album.AlbumActivity"
            android:label="@string/album"
            android:theme="@style/FishBunTheme"/>
        <activity
            android:name=".ui.picker.PickerActivity"
            android:theme="@style/FishBunTheme" />
        <activity
            android:name=".ui.detail.DetailActivity"
            android:theme="@style/DetailViewTheme" />
    </application>

</manifest>
