<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sangcomz.fishbun">

    <application>
        <activity
            android:name="com.sangcomz.fishbun.ui.album.AlbumActivity"
            android:label="@string/album"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.sangcomz.fishbun.ui.picker.PickerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>
